github "ReactiveX/RxSwift" == 3.1.0
github "AliSoftware/OHHTTPStubs" "57fecea"
github "SnapKit/SnapKit" == 3.1.1
github "CosmicMind/Material" == 2.3.21
github "RxSwiftCommunity/RxHttpClient" "2b63c9ebb5b58f03f72a6394eb15de627d8fa68a"
github "Reloni/RxState" == 0.4.1
github "RxSwiftCommunity/RxDataSources" == 1.0.1
github "JohnSundell/Unbox" == 2.3.0
github "JohnSundell/Wrap" == 2.0.2
github "RxSwiftCommunity/RxGesture" == 0.2.1
github "andreamazz/AMScrollingNavbar" == 3.2.0
