github "ReactiveX/RxSwift" == 3.2.0
github "SnapKit/SnapKit" == 3.2.0
github "CosmicMind/Material" == 2.5.1
github "RxSwiftCommunity/RxHttpClient" == 0.8.2
github "Reloni/RxDataFlow" == 0.6.2
github "RxSwiftCommunity/RxDataSources" == 1.0.3
github "JohnSundell/Unbox" == 2.4.0
github "JohnSundell/Wrap" == 2.1.0
github "RxSwiftCommunity/RxGesture" == 1.0.0
